extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Diego Carnavalli Bolsoni 
          span a.k.a. deceBe
          
          .cell.shrink
            img#me(src='../static/img/me.jpg')

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer 

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p I'm Diego Bolsoni from Brazil and I have 32 years old, studied information system from 19 to 22 years then changed to filmmaker studies. I like sports, games and movies. I worked in big companies since then as Rede Globo Television (the second bigger television world company) and at Light (distribution, generation, and commercialization of energy in Rio de Janeiro). So I know the issues and needs of the client's eyes. I'm interested at new clients/partners with good ideas and the most important, with the passion needed in doing new extraordinary things. In counterpart I offer to you my dedication in time and effort, new ways to solve your problems, originality in developing your product, and respect the schedule and budget. Let's build something extraordinary together. Contact me! 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li Python
          li Database 
        h6 Contact Info

        //- Add your own contact info
        ul
          li diego@decebe.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/diegocbolsoni/', target="_blank", rel="noopener noreferrer") LinkedIn
        a.button.expanded(href='http://www.github.com/dibolsoni', target="_blank", rel="noopener noreferrer") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  